# Python files
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.env

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project local datasets/logs (standard places you might output them)
*.log
data/
logs/
output/
